{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .titulo {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .animate {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>

<script>

    console.log("TESTEO")
</script>

<body>
    <br>
    <div class="row xd align-items-center" style="width: 100%">
        <div class="col-lg-12 align-self-center titulo">

            <h1>TEST</h1>
            <h6 class="animate">null</h6>
        </div>
    </div>



</body>

{% endblock content %}